@model IEnumerable<System.ComponentModel.DataAnnotations.ValidationResult>

@if (Model.Any())
{
    <ul>
    @foreach (var error in Model)
    {
        <li class="text-danger">@error.ErrorMessage</li>
    }
    </ul>
}
