<DIConfigurationSection>
  <bindings>
    <!-- Business Services - MVC -->
    <!--<add fromType="Orders.com.BLL.Services.IOrderItemService, Orders.com.BLL" toType="Orders.com.BLL.Services.OrderItemService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.Services.IOrderService, Orders.com.BLL" toType="Orders.com.BLL.Services.OrderService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.Services.ICustomerService, Orders.com.BLL" toType="Orders.com.BLL.Services.CustomerService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.Services.ICategoryService, Orders.com.BLL" toType="Orders.com.BLL.Services.CategoryService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.Services.IInventoryItemService, Orders.com.BLL" toType="Orders.com.BLL.Services.InventoryItemService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.Services.IProductService, Orders.com.BLL" toType="Orders.com.BLL.Services.ProductService, Orders.com.BLL" />-->

    <!-- Business Services - Web API -->
    <add fromType="Orders.com.BLL.Services.IOrderItemService, Orders.com.BLL" toType="Orders.com.BLL.Services.OrderItemClientService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.Services.IOrderService, Orders.com.BLL" toType="Orders.com.BLL.Services.OrderService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.Services.ICustomerService, Orders.com.BLL" toType="Orders.com.BLL.Services.CustomerService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.Services.ICategoryService, Orders.com.BLL" toType="Orders.com.BLL.Services.CategoryService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.Services.IInventoryItemService, Orders.com.BLL" toType="Orders.com.BLL.Services.InventoryItemService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.Services.IProductService, Orders.com.BLL" toType="Orders.com.BLL.Services.ProductClientService, Orders.com.BLL" />

    <!-- Entity Framework Data Proxies -->
    <!--<add fromType="Orders.com.BLL.DataProxy.ICategoryDataProxy, Orders.com.BLL" toType="Orders.com.DAL.EF.CategoryRepository, Orders.com.DAL.EF" />
    <add fromType="Orders.com.BLL.DataProxy.IOrderItemDataProxy, Orders.com.BLL" toType="Orders.com.DAL.EF.OrderItemRepository, Orders.com.DAL.EF" />
    <add fromType="Orders.com.BLL.DataProxy.IProductDataProxy, Orders.com.BLL" toType="Orders.com.DAL.EF.ProductRepository, Orders.com.DAL.EF" />
    <add fromType="Orders.com.BLL.DataProxy.IInventoryItemDataProxy, Orders.com.BLL" toType="Orders.com.DAL.EF.InventoryItemRepository, Orders.com.DAL.EF" />
    <add fromType="Orders.com.BLL.DataProxy.IOrderDataProxy, Orders.com.BLL" toType="Orders.com.DAL.EF.OrderRepository, Orders.com.DAL.EF" />
    <add fromType="Orders.com.BLL.DataProxy.ICustomerDataProxy, Orders.com.BLL" toType="Orders.com.DAL.EF.CustomerRepository, Orders.com.DAL.EF" />-->

    <!-- HTTP Data Proxies -->
    <add fromType="Orders.com.BLL.DataProxy.ICategoryDataProxy, Orders.com.BLL" toType="Orders.com.DAL.Http.CategoriesHttpServiceProxy, Orders.com.DAL.Http">
      <constructorArguments>
        <add argumentName="baseAddress" value="http://localhost:53534/api/" type="System.String" />
      </constructorArguments>
    </add>
    <add fromType="Orders.com.BLL.DataProxy.IOrderItemDataProxy, Orders.com.BLL" toType="Orders.com.DAL.Http.OrderItemsHttpServiceProxy, Orders.com.DAL.Http">
      <constructorArguments>
        <add argumentName="baseAddress" value="http://localhost:53534/api/" type="System.String" />
      </constructorArguments>
    </add>
    <add fromType="Orders.com.BLL.DataProxy.IProductDataProxy, Orders.com.BLL" toType="Orders.com.DAL.Http.ProductsHttpServiceProxy, Orders.com.DAL.Http">
      <constructorArguments>
        <add argumentName="baseAddress" value="http://localhost:53534/api/" type="System.String" />
      </constructorArguments>
    </add>
    <add fromType="Orders.com.BLL.DataProxy.IInventoryItemDataProxy, Orders.com.BLL" toType="Orders.com.DAL.Http.InventoryItemsHttpServiceProxy, Orders.com.DAL.Http">
      <constructorArguments>
        <add argumentName="baseAddress" value="http://localhost:53534/api/" type="System.String" />
      </constructorArguments>
    </add>
    <add fromType="Orders.com.BLL.DataProxy.IOrderDataProxy, Orders.com.BLL" toType="Orders.com.DAL.Http.OrdersHttpServiceProxy, Orders.com.DAL.Http">
      <constructorArguments>
        <add argumentName="baseAddress" value="http://localhost:53534/api/" type="System.String" />
      </constructorArguments>
    </add>
    <add fromType="Orders.com.BLL.DataProxy.ICustomerDataProxy, Orders.com.BLL" toType="Orders.com.DAL.Http.CustomersHttpServiceProxy, Orders.com.DAL.Http">
      <constructorArguments>
        <add argumentName="baseAddress" value="http://localhost:53534/api/" type="System.String" />
      </constructorArguments>
    </add>

    <!-- In Memory Data Proxies -->
    <!--<add fromType="Orders.com.BLL.DataProxy.ICategoryDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.CategoryRepository, Orders.com.DAL.InMemory" asSingleton="true" />
    <add fromType="Orders.com.BLL.DataProxy.IOrderItemDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.OrderItemRepository, Orders.com.DAL.InMemory" asSingleton="true" />
    <add fromType="Orders.com.BLL.DataProxy.IProductDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.ProductRepository, Orders.com.DAL.InMemory" asSingleton="true" />
    <add fromType="Orders.com.BLL.DataProxy.IInventoryItemDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.InventoryItemRepository, Orders.com.DAL.InMemory" asSingleton="true" />
    <add fromType="Orders.com.BLL.DataProxy.IOrderDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.OrderRepository, Orders.com.DAL.InMemory" asSingleton="true" />
    <add fromType="Orders.com.BLL.DataProxy.ICustomerDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.CustomerRepository, Orders.com.DAL.InMemory" asSingleton="true" />-->

    <add fromType="Peasy.ITransactionContext, Peasy" toType="Orders.com.Web.MVC.DTCTransactionContext, Orders.com.Web.MVC" />
  </bindings>
</DIConfigurationSection>
